name: Streamlit app

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  streamlit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - uses: streamlit/streamlit-app-action@v0.0.3
        with:
          app-path: app.py
          ruff: true
          # Add pytest-args to output junit xml
          pytest-args: -v --junit-xml=test-results.xml

      - if: always()
        uses: pmeier/pytest-results-action@v0.7.2
        with:
          path: test-results.xml
          summary: true
          display-options: fEX
